<h1 class="display-4">Welcome to the online Cookbook </h1>
<p class="mb-4">This is Sails.js app for gathering all the best recipes for delicious meals</p>
<a href="/recipe/list" class="btn btn-light">View recipes</a>
<a href="/recipe/add" class="btn btn-light">Add recipe</a>